# We enable the apache server's RewriteEngine, in order to
# write rules that modify the incoming URL requests .
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?$1 [L,QSA]